@model OrderVM

<form method="post">
    <input asp-for="OrderHead.Id" hidden />
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i>&nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-rigth">
                        <a asp-action="Index"class="btn btn-outline-info form-control btn-sm">Back to Oders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Pickup Details</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if(User.IsInRole(SD.Role_User_Admin)|| User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.Name" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.Name" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.Name" readonly type="text" class="form-control" />
                                    }

                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.PhoneNumber" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.PhoneNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.StreetAdress" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.StreetAdress" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.StreetAdress" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.City" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.City" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.City" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.State" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.State" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.State" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.Postalcode" type="text" class="form-control" />
                                        <span asp-validation-for="OrderHead.Postalcode" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.Postalcode" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    
                                        <input asp-for="OrderHead.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Oder Date</div>
                                <div class="col-9">
                                    
                                        <input value="@Model.OrderHead.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                    
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.Carrier" type="text" class="form-control" />
                                        
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.Carrier" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                                    {
                                        <input asp-for="OrderHead.TrackingNumber" type="text" class="form-control" />
                                       
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHead.TrackingNumber" readonly type="text" class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                   
                                        <input value="@Model.OrderHead.ShippingDate.ToShortDateString()" type="text" class="form-control" />
                                        
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session Id</div>
                                    <div class="col-9">

                                        <input asp-for="OrderHead.SessionId" type="text" class="form-control" />

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">

                                        <input asp-for="OrderHead.PaymentIntentId" type="text" class="form-control" />

                                    </div>
                                </div>
                            }
                            <div class="row my-1">
                                @if(Model.OrderHead.SessionId == null)
                                {
                                    <div class="col-3">Payment Due Date</div>
                                    <div class="col-9">
                                        
                                            <input value="@Model.OrderHead.PaymentDueDate" readonly type="text" class="form-control" />
                                      
                                    </div>
                                }
                                else
                                {
                                    <div class="col-3">Payment Date</div>
                                    <div class="col-9">
                                        
                                            <input value="@Model.OrderHead.PaymentDate" readonly type="text" class="form-control" />
                                    </div>
                                }

                            </div>
                            
                                
                            
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    
                                        <input asp-for="OrderHead.PaymentStatus" readonly type="text" class="form-control" />
                                       
                                </div>
                            </div>
                             @if (User.IsInRole(SD.Role_User_Admin) || User.IsInRole(SD.Role_User_Emp))
                            {
                                <button type="submit" asp-action="UpdateOrderDatail" class="btn btn-warning form-control my-1">Update Order Details</button>
                            }

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Order Summary</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">@Model.OrderHead.OrderStatus</label>
                            <ul class="list-group mb-3">
                                @foreach(var detail in Model.OrderDetail){
                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">
                                            <h6 class="my-0 text-primary">@detail.Product.Tittle</h6>
                                            <small class="text-muted">@detail.Product.price.ToString("c")</small><br />
                                            <small class="text-muted">@detail.Count</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">@((detail.Count* detail.Product.price).ToString("c"))</p>
                                        </div>
                                    </div>
                                </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL</h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHead.OrderTotal</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <input type="submit" class="btn btn-success form-control my-1" value="Pay Now" />
                            <input type="submit" class="btn btn-success form-control my-1" value="Start Processing" />
                            <input type="submit" class="btn btn-success form-control my-1" value="Ship Order" />
                            <input type="submit" class="btn btn-success form-control my-1" value="Cancel Order" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
